.category {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 2rem;
}

.list {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: #4A90E2;
    text-decoration: none;
    font-size: large;
    margin-top: 1rem;    
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}